body,html{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}


/* menu bar and main page styles starts here */
.main-bg{
    background-image: url(desktop-bg.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
}
.center-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}
.center-text h1{
    font-weight: bold;
}
.center-text span{
    font-weight: bold;
}
.center-text p{
    font-weight: normal;
}
.navmenu{
    background-color: rgba(0,0,0,0.5);
    width: 100%;
}
.menuopt a{
    color: white;
    text-decoration: none;
}



/* menu bar and main page styles ends here */

.parallax-window{
    height: 80vh;
}
.column{
    padding: 20px;
}
.raw {
    align-content: center;
    justify-content: center;
}
.fab{
    padding: 5px;
}
.reach a{
    text-decoration: none;
    color: white;
}
